body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #212529;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
section {
 
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


/* file: css/style.css */
.bg-myblue {
  background-color: #3f72af; /* warna biru custom */
  color: #ffffff;            /* teks putih */
}

.bg-mycream {
  background-color: #f9f7f7; /* warna putih krem */
  color: #112d4e;            /* teks biru gelap */
}
